body{
  font-family: Helvetica;
  text-align: center;
}
#Top, .line{
  background-image: url("../img/the-flatiron-building.png");
  background-size: cover;
  color: white;
}
h1, h2, h3, p.line{
  font-weight: bold;
}
h1{
  font-size: 70px;
}
#footer{
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 32px;
}
.line p{
  font-size: 23px;
  font-weight: bold;
}
a{
  font-size: 18px;
  color: white;
}
